/*<meta />*/

@charset "UTF-8";

@import url('pdfstyle.css');

/* =============================================================================
 hub pdf
============================================================================= */

h2
{
	font-size: 12pt;
	margin-top: 20pt;
	margin-bottom: 10pt;
	margin-left: -2em;
	padding-left: 0.5em;
	background-position: right 6px;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #c0c0c0;
	line-height: 26pt;
	page-break-after: avoid;
	mc-heading-level: 0;
}

.updateDate + .Section
{
	margin-top: 8px;
}

.updateDate + .Section h2:first-of-type
{
	margin-top: 0;
}

div.updateDate
{
	
}

div.updateDate p
{
	font-size: 9pt !important;
	text-align: right;
	color: #716f71;
}

h1.chapter
{
	font-size: 22pt;
	margin-left: 0;
	margin-right: 0pt;
	margin-bottom: 8px;
	color: #000;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 10px;
	line-height: 18pt;
	border-bottom: solid 2px #00529F;
	font-style: normal;
	margin-top: 15em;
	border-top-style: none;
}

/* BASE_STYLEに統合　　
p.id_note
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-image: url('../Images/style/note.png');
	background-size: contain;
	padding-left: 2.5em;
}

p.id_tip
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	background-image: url('../Images/style/tip.png');
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 2.5em;
}

p.id_info
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-image: url('../Images/style/info.png');
	background-size: contain;
	padding-left: 2.5em;
}

p.id_danger
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-image: url('../Images/style/danger.png');
	background-size: contain;
	padding-left: 2.5em;
}

p.id_caution
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-image: url('../Images/style/caution.png');
	background-size: contain;
	padding-left: 2.5em;
}

div.id_note
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	background-color: #fffdf5;
	border-left: solid 2px #d4d5d8;
	background: #fdfdfe;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #d4d5d8;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d4d5d8;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

div.id_tip
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	background: #e6f6e6;
	border-left: solid 2px #009400;
	background-color: #f1f8f1;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #009400;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f5;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

div.id_info
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	border-left: solid 2px #4cb3d4;
	background: #eef9fd;
	background-color: #f2fbff;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #4cb3d4;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f5;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

div.id_caution
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	background: #fff8e6;
	border-left: solid 2px #e6a700;
	background-color: #fffaed;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #e6a700;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f5;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

div.id_danger
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	background: #ffebec;
	border-left: solid 2px #e13238;
	background-color: #fff5f5;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #e13238;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f5;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}
	*/