/* MadCap Table Style: */

/*<meta Version="9" />*/

@media mobile
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		background-color: #f0ffff;
	}

	mcTableHeadStyle
	{
		background-color: #87cefa;
	}

	mcTableBodyStyle
	{
		
	}
}

@media tablet
{
	mcTableStyle
	{
		border-left-style: solid;
		border-left-width: 3px;
		border-left-color: #0000ff;
		border-right-style: solid;
		border-right-width: 3px;
		border-right-color: #0000ff;
		border-top-style: solid;
		border-top-width: 3px;
		border-top-color: #0000ff;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		border-bottom-color: #0000ff;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: point;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #e3dabf;
	border-right-style: solid;
	border-right-width: 3px;
	border-right-color: #e3dabf;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #e3dabf;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e3dabf;
	max-id: 8;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	page-break-inside: auto;
	orphans: 4;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	background-color: #fffdf5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	vertical-align: top;
	text-align: left;
	background-color: #fffdf5;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #e3dabf;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-content-style-tag: p;
	color: #62511e;
}

mcTableBodyStyle
{
	span: 1;
	id: 7;
	name: body;
	type: Automatic;
	separator-style: solid;
	separator-width: 1px;
	text-align: left;
	separator-color: #000000;
	vertical-align: middle;
	page-break-after: avoid;
	page-break-inside: avoid;
	background-color: #e3dabf;
	font-style: normal;
	size: 16px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
}


/* Cell Styles: */
 
@media mobile
{
	.TableStyle-point
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-point-HeadI-Column1-Header1
	{
		background-color: #87cefa;
	}

	.TableStyle-point-HeadE-Column1-Header1
	{
		background-color: #87cefa;
	}

	.TableStyle-point-HeadF-Column1-Header1
	{
		background-color: #87cefa;
	}

	.TableStyle-point-HeadH-Column1-Header1
	{
		background-color: #87cefa;
	}

	.TableStyle-point-HeadD-Column1-Header1
	{
		background-color: #87cefa;
	}

	.TableStyle-point-HeadC-Column1-Header1
	{
		background-color: #87cefa;
	}

	.TableStyle-point-HeadB-Column1-Header1
	{
		background-color: #87cefa;
	}

	.TableStyle-point-HeadA-Column1-Header1
	{
		background-color: #87cefa;
	}

	.TableStyle-point-HeadG-Column1-Header1
	{
		background-color: #87cefa;
	}

	.TableStyle-point-FootI-Column1-
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-FootE-Column1-
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-FootF-Column1-
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-FootH-Column1-
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-FootD-Column1-
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-FootC-Column1-
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-FootB-Column1-
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-FootA-Column1-
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-FootG-Column1-
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-BodyI-Column1-body
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-BodyE-Column1-body
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-BodyF-Column1-body
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-BodyH-Column1-body
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-BodyD-Column1-body
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-BodyC-Column1-body
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-BodyB-Column1-body
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-BodyA-Column1-body
	{
		background-color: #f0ffff;
	}

	.TableStyle-point-BodyG-Column1-body
	{
		background-color: #f0ffff;
	}
}

@media tablet
{
	.TableStyle-point
	{
		border-left-style: solid;
		border-left-color: #0000ff;
		border-left-width: 3px;
		border-right-style: solid;
		border-right-color: #0000ff;
		border-right-width: 3px;
		border-top-style: solid;
		border-top-color: #0000ff;
		border-top-width: 3px;
		border-bottom-style: solid;
		border-bottom-color: #0000ff;
		border-bottom-width: 3px;
		border-spacing: 0px 0px;
	}
}

.TableStyle-point
{
	border-collapse: separate;
	background-color: #fffdf5;
	border-left-style: solid;
	border-left-color: #e3dabf;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-color: #e3dabf;
	border-right-width: 3px;
	border-top-style: solid;
	border-top-color: #e3dabf;
	border-top-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #e3dabf;
	border-bottom-width: 3px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	page-break-inside: auto;
	orphans: 4;
	border-spacing: 0px 0px;
}

.TableStyle-point-Column-Column1
{
	
}

.TableStyle-point-Head-Header1
{
	
}

.TableStyle-point-HeadI-Column1-Header1
{
	color: #62511e;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #e3dabf;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-point-HeadI-Column1-Header1 p
{
	color: #62511e;
	font-weight: bold;
}

.TableStyle-point-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	color: #62511e;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #e3dabf;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-point-HeadE-Column1-Header1 p
{
	color: #62511e;
	font-weight: bold;
}

.TableStyle-point-HeadF-Column1-Header1
{
	color: #62511e;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #e3dabf;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-point-HeadF-Column1-Header1 p
{
	color: #62511e;
	font-weight: bold;
}

.TableStyle-point-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	color: #62511e;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #e3dabf;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-point-HeadH-Column1-Header1 p
{
	color: #62511e;
	font-weight: bold;
}

.TableStyle-point-HeadD-Column1-Header1
{
	color: #62511e;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #e3dabf;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-point-HeadD-Column1-Header1 p
{
	color: #62511e;
	font-weight: bold;
}

.TableStyle-point-HeadC-Column1-Header1
{
	color: #62511e;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #e3dabf;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-point-HeadC-Column1-Header1 p
{
	color: #62511e;
	font-weight: bold;
}

.TableStyle-point-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	color: #62511e;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #e3dabf;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-point-HeadB-Column1-Header1 p
{
	color: #62511e;
	font-weight: bold;
}

.TableStyle-point-HeadA-Column1-Header1
{
	color: #62511e;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #e3dabf;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-point-HeadA-Column1-Header1 p
{
	color: #62511e;
	font-weight: bold;
}

.TableStyle-point-HeadG-Column1-Header1
{
	color: #62511e;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #e3dabf;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-point-HeadG-Column1-Header1 p
{
	color: #62511e;
	font-weight: bold;
}

.TableStyle-point-FootI-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-FootI-Column1- p
{
	
}

.TableStyle-point-FootE-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-point-FootE-Column1- p
{
	
}

.TableStyle-point-FootF-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-FootF-Column1- p
{
	
}

.TableStyle-point-FootH-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-point-FootH-Column1- p
{
	
}

.TableStyle-point-FootD-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-FootD-Column1- p
{
	
}

.TableStyle-point-FootC-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-FootC-Column1- p
{
	
}

.TableStyle-point-FootB-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-point-FootB-Column1- p
{
	
}

.TableStyle-point-FootA-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-FootA-Column1- p
{
	
}

.TableStyle-point-FootG-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-FootG-Column1- p
{
	
}

.TableStyle-point-Body-body
{
	height: 16px;
	page-break-after: avoid;
	page-break-inside: avoid;
}

.TableStyle-point-BodyI-Column1-body
{
	padding-left: 4px;
	padding-right: 4px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-BodyI-Column1-body p
{
	font-style: normal;
}

.TableStyle-point-BodyE-Column1-body
{
	padding-left: 4px;
	padding-right: 4px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-point-BodyE-Column1-body p
{
	font-style: normal;
}

.TableStyle-point-BodyF-Column1-body
{
	padding-left: 4px;
	padding-right: 4px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-BodyF-Column1-body p
{
	font-style: normal;
}

.TableStyle-point-BodyH-Column1-body
{
	padding-left: 4px;
	padding-right: 4px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-point-BodyH-Column1-body p
{
	font-style: normal;
}

.TableStyle-point-BodyD-Column1-body
{
	padding-left: 4px;
	padding-right: 4px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-BodyD-Column1-body p
{
	font-style: normal;
}

.TableStyle-point-BodyC-Column1-body
{
	padding-left: 4px;
	padding-right: 4px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-BodyC-Column1-body p
{
	font-style: normal;
}

.TableStyle-point-BodyB-Column1-body
{
	padding-left: 4px;
	padding-right: 4px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-point-BodyB-Column1-body p
{
	font-style: normal;
}

.TableStyle-point-BodyA-Column1-body
{
	padding-left: 4px;
	padding-right: 4px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-BodyA-Column1-body p
{
	font-style: normal;
}

.TableStyle-point-BodyG-Column1-body
{
	padding-left: 4px;
	padding-right: 4px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	background-color: #fffdf5;
}

.TableStyle-point-BodyG-Column1-body p
{
	font-style: normal;
}


