/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: H_NoborderNoIndentBasic;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 7;
	page-break-inside: auto;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	vertical-align: top;
	text-align: left;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: ColumnCenter;
	type: Manual;
	text-align: center;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: ColumnRight;
	type: Manual;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	text-align: right;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: ColumnPadding5em;
	text-align: left;
	cell-padding-left: 5em;
	type: Manual;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	vertical-align: top;
	text-align: center;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	vertical-align: top;
	text-align: left;
	page-break-inside: avoid;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	text-align: left;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-H_NoborderNoIndentBasic
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	page-break-inside: auto;
	border-spacing: 0px 0px;
}

.TableStyle-H_NoborderNoIndentBasic-Column-Column1
{
	
}

.TableStyle-H_NoborderNoIndentBasic-Column-ColumnCenter
{
	
}

.TableStyle-H_NoborderNoIndentBasic-Column-ColumnRight
{
	
}

.TableStyle-H_NoborderNoIndentBasic-Column-ColumnPadding5em
{
	
}

.TableStyle-H_NoborderNoIndentBasic-Head-Header1
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadI-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadI-Column1-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadE-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadE-Column1-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadF-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadF-Column1-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadH-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadH-Column1-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadD-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadD-Column1-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadC-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadC-Column1-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadB-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadB-Column1-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadA-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadA-Column1-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadG-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadG-Column1-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadI-ColumnCenter-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadI-ColumnCenter-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadE-ColumnCenter-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadE-ColumnCenter-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadF-ColumnCenter-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadF-ColumnCenter-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadH-ColumnCenter-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadH-ColumnCenter-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadD-ColumnCenter-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadD-ColumnCenter-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadC-ColumnCenter-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadC-ColumnCenter-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadB-ColumnCenter-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadB-ColumnCenter-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadA-ColumnCenter-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadA-ColumnCenter-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadG-ColumnCenter-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadG-ColumnCenter-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadI-ColumnRight-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadI-ColumnRight-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadE-ColumnRight-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadE-ColumnRight-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadF-ColumnRight-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadF-ColumnRight-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadH-ColumnRight-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadH-ColumnRight-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadD-ColumnRight-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadD-ColumnRight-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadC-ColumnRight-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadC-ColumnRight-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadB-ColumnRight-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadB-ColumnRight-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadA-ColumnRight-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadA-ColumnRight-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadG-ColumnRight-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadG-ColumnRight-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadI-ColumnPadding5em-Header1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadI-ColumnPadding5em-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadE-ColumnPadding5em-Header1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadE-ColumnPadding5em-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadF-ColumnPadding5em-Header1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadF-ColumnPadding5em-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadH-ColumnPadding5em-Header1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadH-ColumnPadding5em-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadD-ColumnPadding5em-Header1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-HeadD-ColumnPadding5em-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadC-ColumnPadding5em-Header1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadC-ColumnPadding5em-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadB-ColumnPadding5em-Header1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadB-ColumnPadding5em-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadA-ColumnPadding5em-Header1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadA-ColumnPadding5em-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-HeadG-ColumnPadding5em-Header1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-HeadG-ColumnPadding5em-Header1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-Foot-Footer1
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootI-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootI-Column1-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootE-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootE-Column1-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootF-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootF-Column1-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootH-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootH-Column1-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootD-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootD-Column1-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootC-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootC-Column1-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootB-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootB-Column1-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootA-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootA-Column1-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootG-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootG-Column1-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootI-ColumnCenter-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootI-ColumnCenter-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootE-ColumnCenter-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootE-ColumnCenter-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootF-ColumnCenter-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootF-ColumnCenter-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootH-ColumnCenter-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootH-ColumnCenter-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootD-ColumnCenter-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootD-ColumnCenter-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootC-ColumnCenter-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootC-ColumnCenter-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootB-ColumnCenter-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootB-ColumnCenter-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootA-ColumnCenter-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootA-ColumnCenter-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootG-ColumnCenter-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootG-ColumnCenter-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootI-ColumnRight-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootI-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootE-ColumnRight-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootE-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootF-ColumnRight-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootF-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootH-ColumnRight-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootH-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootD-ColumnRight-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootD-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootC-ColumnRight-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootC-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootB-ColumnRight-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootB-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootA-ColumnRight-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootA-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootG-ColumnRight-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootG-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootI-ColumnPadding5em-Footer1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootI-ColumnPadding5em-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootE-ColumnPadding5em-Footer1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootE-ColumnPadding5em-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootF-ColumnPadding5em-Footer1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootF-ColumnPadding5em-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootH-ColumnPadding5em-Footer1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootH-ColumnPadding5em-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootD-ColumnPadding5em-Footer1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-FootD-ColumnPadding5em-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootC-ColumnPadding5em-Footer1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootC-ColumnPadding5em-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootB-ColumnPadding5em-Footer1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootB-ColumnPadding5em-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootA-ColumnPadding5em-Footer1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootA-ColumnPadding5em-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-FootG-ColumnPadding5em-Footer1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-FootG-ColumnPadding5em-Footer1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-H_NoborderNoIndentBasic-BodyI-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyI-Column1-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyE-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-BodyE-Column1-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyF-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyF-Column1-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyH-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-BodyH-Column1-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyD-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyD-Column1-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyC-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyC-Column1-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyB-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-BodyB-Column1-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyA-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyA-Column1-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyG-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyG-Column1-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyI-ColumnCenter-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyI-ColumnCenter-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyE-ColumnCenter-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-BodyE-ColumnCenter-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyF-ColumnCenter-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyF-ColumnCenter-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyH-ColumnCenter-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-BodyH-ColumnCenter-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyD-ColumnCenter-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyD-ColumnCenter-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyC-ColumnCenter-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyC-ColumnCenter-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyB-ColumnCenter-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-BodyB-ColumnCenter-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyA-ColumnCenter-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyA-ColumnCenter-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyG-ColumnCenter-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyG-ColumnCenter-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyI-ColumnRight-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyI-ColumnRight-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyE-ColumnRight-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: right;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-BodyE-ColumnRight-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyF-ColumnRight-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: right;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyF-ColumnRight-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyH-ColumnRight-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-BodyH-ColumnRight-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyD-ColumnRight-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: right;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyD-ColumnRight-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyC-ColumnRight-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyC-ColumnRight-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyB-ColumnRight-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-H_NoborderNoIndentBasic-BodyB-ColumnRight-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyA-ColumnRight-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyA-ColumnRight-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyG-ColumnRight-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
	vertical-align: top;
}

.TableStyle-H_NoborderNoIndentBasic-BodyG-ColumnRight-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyI-ColumnPadding5em-Body1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 5em;
}

.TableStyle-H_NoborderNoIndentBasic-BodyI-ColumnPadding5em-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyE-ColumnPadding5em-Body1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 5em;
}

.TableStyle-H_NoborderNoIndentBasic-BodyE-ColumnPadding5em-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyF-ColumnPadding5em-Body1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 5em;
}

.TableStyle-H_NoborderNoIndentBasic-BodyF-ColumnPadding5em-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyH-ColumnPadding5em-Body1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 5em;
}

.TableStyle-H_NoborderNoIndentBasic-BodyH-ColumnPadding5em-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyD-ColumnPadding5em-Body1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 5em;
}

.TableStyle-H_NoborderNoIndentBasic-BodyD-ColumnPadding5em-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyC-ColumnPadding5em-Body1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 5em;
}

.TableStyle-H_NoborderNoIndentBasic-BodyC-ColumnPadding5em-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyB-ColumnPadding5em-Body1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 5em;
}

.TableStyle-H_NoborderNoIndentBasic-BodyB-ColumnPadding5em-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyA-ColumnPadding5em-Body1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 5em;
}

.TableStyle-H_NoborderNoIndentBasic-BodyA-ColumnPadding5em-Body1 p
{
	
}

.TableStyle-H_NoborderNoIndentBasic-BodyG-ColumnPadding5em-Body1
{
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 5em;
}

.TableStyle-H_NoborderNoIndentBasic-BodyG-ColumnPadding5em-Body1 p
{
	
}


