/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: H_BasicCenter;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 11;
	page-break-inside: auto;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	orphans: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	vertical-align: middle;
	text-align: center;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: ColumnRight;
	type: Manual;
	vertical-align: middle;
	text-align: right;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: ColumnLeft;
	type: Manual;
	text-align: left;
	vertical-align: middle;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #ffffaf;
	text-align: center;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	vertical-align: middle;
	text-align: center;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	id: 10;
	name: RowHeader;
	type: Manual;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	text-align: center;
	vertical-align: middle;
	page-break-inside: avoid;
	page-break-after: avoid;
	background-color: #fffff0;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	text-align: center;
	vertical-align: middle;
}


/* Cell Styles: */
 
.TableStyle-H_BasicCenter
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	page-break-inside: auto;
	orphans: 4;
	border-spacing: 0px 0px;
}

.TableStyle-H_BasicCenter-Column-Column1
{
	
}

.TableStyle-H_BasicCenter-Column-ColumnRight
{
	
}

.TableStyle-H_BasicCenter-Column-ColumnLeft
{
	
}

.TableStyle-H_BasicCenter-Head-Header1
{
	
}

.TableStyle-H_BasicCenter-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadI-Column1-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-H_BasicCenter-HeadE-Column1-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-H_BasicCenter-HeadF-Column1-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadH-Column1-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-H_BasicCenter-HeadD-Column1-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadC-Column1-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadB-Column1-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadA-Column1-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadG-Column1-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadI-ColumnRight-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadI-ColumnRight-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadE-ColumnRight-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-H_BasicCenter-HeadE-ColumnRight-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadF-ColumnRight-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-H_BasicCenter-HeadF-ColumnRight-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadH-ColumnRight-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadH-ColumnRight-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadD-ColumnRight-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-H_BasicCenter-HeadD-ColumnRight-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadC-ColumnRight-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadC-ColumnRight-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadB-ColumnRight-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadB-ColumnRight-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadA-ColumnRight-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadA-ColumnRight-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadG-ColumnRight-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadG-ColumnRight-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadI-ColumnLeft-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadI-ColumnLeft-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadE-ColumnLeft-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-H_BasicCenter-HeadE-ColumnLeft-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadF-ColumnLeft-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-H_BasicCenter-HeadF-ColumnLeft-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadH-ColumnLeft-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadH-ColumnLeft-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadD-ColumnLeft-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-H_BasicCenter-HeadD-ColumnLeft-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadC-ColumnLeft-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadC-ColumnLeft-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadB-ColumnLeft-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadB-ColumnLeft-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadA-ColumnLeft-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadA-ColumnLeft-Header1 p
{
	
}

.TableStyle-H_BasicCenter-HeadG-ColumnLeft-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffaf;
}

.TableStyle-H_BasicCenter-HeadG-ColumnLeft-Header1 p
{
	
}

.TableStyle-H_BasicCenter-Foot-Footer1
{
	
}

.TableStyle-H_BasicCenter-FootI-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootI-Column1-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootE-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-H_BasicCenter-FootE-Column1-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootF-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-H_BasicCenter-FootF-Column1-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootH-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootH-Column1-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootD-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-H_BasicCenter-FootD-Column1-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootC-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootC-Column1-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootB-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootB-Column1-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootA-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootA-Column1-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootG-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootG-Column1-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootI-ColumnRight-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootI-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootE-ColumnRight-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-H_BasicCenter-FootE-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootF-ColumnRight-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-H_BasicCenter-FootF-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootH-ColumnRight-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootH-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootD-ColumnRight-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-H_BasicCenter-FootD-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootC-ColumnRight-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootC-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootB-ColumnRight-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootB-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootA-ColumnRight-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootA-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootG-ColumnRight-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootG-ColumnRight-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootI-ColumnLeft-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootI-ColumnLeft-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootE-ColumnLeft-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-H_BasicCenter-FootE-ColumnLeft-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootF-ColumnLeft-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-H_BasicCenter-FootF-ColumnLeft-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootH-ColumnLeft-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootH-ColumnLeft-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootD-ColumnLeft-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-H_BasicCenter-FootD-ColumnLeft-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootC-ColumnLeft-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootC-ColumnLeft-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootB-ColumnLeft-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootB-ColumnLeft-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootA-ColumnLeft-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootA-ColumnLeft-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-FootG-ColumnLeft-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-FootG-ColumnLeft-Footer1 p
{
	
}

.TableStyle-H_BasicCenter-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-H_BasicCenter-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyI-Column1-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyE-Column1-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyF-Column1-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyH-Column1-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyD-Column1-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyC-Column1-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyB-Column1-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyA-Column1-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyG-Column1-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyI-ColumnRight-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyI-ColumnRight-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyE-ColumnRight-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: right;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyE-ColumnRight-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyF-ColumnRight-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyF-ColumnRight-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyH-ColumnRight-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: right;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyH-ColumnRight-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyD-ColumnRight-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyD-ColumnRight-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyC-ColumnRight-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyC-ColumnRight-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyB-ColumnRight-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: right;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyB-ColumnRight-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyA-ColumnRight-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyA-ColumnRight-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyG-ColumnRight-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyG-ColumnRight-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyI-ColumnLeft-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyI-ColumnLeft-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyE-ColumnLeft-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyE-ColumnLeft-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyF-ColumnLeft-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyF-ColumnLeft-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyH-ColumnLeft-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyH-ColumnLeft-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyD-ColumnLeft-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyD-ColumnLeft-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyC-ColumnLeft-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyC-ColumnLeft-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyB-ColumnLeft-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyB-ColumnLeft-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyA-ColumnLeft-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyA-ColumnLeft-Body1 p
{
	
}

.TableStyle-H_BasicCenter-BodyG-ColumnLeft-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyG-ColumnLeft-Body1 p
{
	
}

.TableStyle-H_BasicCenter-Body-RowHeader
{
	page-break-after: avoid;
	page-break-inside: avoid;
}

.TableStyle-H_BasicCenter-BodyI-Column1-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyI-Column1-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyE-Column1-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyE-Column1-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyF-Column1-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyF-Column1-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyH-Column1-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyH-Column1-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyD-Column1-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyD-Column1-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyC-Column1-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyC-Column1-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyB-Column1-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyB-Column1-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyA-Column1-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyA-Column1-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyG-Column1-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyG-Column1-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyI-ColumnRight-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyI-ColumnRight-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyE-ColumnRight-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: right;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyE-ColumnRight-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyF-ColumnRight-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyF-ColumnRight-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyH-ColumnRight-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: right;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyH-ColumnRight-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyD-ColumnRight-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyD-ColumnRight-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyC-ColumnRight-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyC-ColumnRight-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyB-ColumnRight-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: right;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyB-ColumnRight-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyA-ColumnRight-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyA-ColumnRight-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyG-ColumnRight-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: right;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyG-ColumnRight-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyI-ColumnLeft-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyI-ColumnLeft-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyE-ColumnLeft-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyE-ColumnLeft-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyF-ColumnLeft-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyF-ColumnLeft-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyH-ColumnLeft-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyH-ColumnLeft-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyD-ColumnLeft-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyD-ColumnLeft-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyC-ColumnLeft-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyC-ColumnLeft-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyB-ColumnLeft-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-H_BasicCenter-BodyB-ColumnLeft-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyA-ColumnLeft-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyA-ColumnLeft-RowHeader p
{
	
}

.TableStyle-H_BasicCenter-BodyG-ColumnLeft-RowHeader
{
	padding-left: 3px;
	padding-right: 3px;
	background-color: #fffff0;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-H_BasicCenter-BodyG-ColumnLeft-RowHeader p
{
	
}


