/*<meta />*/

@charset "UTF-8";

@import url('pdfstyle.css');

/* =============================================================================
 hub pdf
============================================================================= */


h2
{
	font-size: 12pt;
	
		margin-top: 20pt;
		margin-bottom: 10pt;
		margin-left: -2em;
		padding-left: 0.5em;
		background-position: right 6px;
		border-left-style: solid;
		border-left-width: 2px;
		border-right-style: solid;
		border-right-width: 2px;
		border-top-style: solid;
		border-top-width: 2px;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-color: #c0c0c0;
		line-height: 26pt;
		page-break-after: avoid;
		mc-heading-level: 0;
}
.updateDate + .Section
{
	margin-top: 8px;
}

.updateDate + .Section h2:first-of-type
{
	margin-top: 0;
}
div.updateDate
{
	
}

div.updateDate p
{
	font-size: 9pt !important;
	text-align: right;
	color: #716f71;
}
