/*<meta />*/

@charset "UTF-8";

@import url('comstyle.css');

@import url('htmlstyle.css');
@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/* =============================================================================
 Web Manual
============================================================================= */

p.SectionTitleBL2
{
	border-bottom-style: solid;
	border-color: #c0c0c0;
	border-left-color: #74a2cd;
	border-bottom-width: 0px;
	font-weight: normal;
	margin-left: 8px;
	padding-left: 0.5em;
	border-left-style: solid;
	border-left-width: 3px;
	color: #000000;
	padding-top: 4px;
	line-height: 24pt;
	top: 0em;
	margin-top: 2em;
}

MadCap|codeSnippet
{
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-size: 10pt;
	padding: 1em;
	border: solid 2px #ebf0fc;
}
/*  base_styleに統合
p.id_note
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-image: url('../Images/style/note.png');
	background-size: contain;
	padding-left: 2.5em;
}

p.id_tip
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	background-image: url('../Images/style/tip.png');
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 2.5em;
}

p.id_info
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-image: url('../Images/style/info.png');
	background-size: contain;
	padding-left: 2.5em;
}

p.id_danger
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-image: url('../Images/style/danger.png');
	background-size: contain;
	padding-left: 2.5em;
}

p.id_caution
{
	font-weight: bold;
	line-height: 16pt;
	font-size: 11pt;
	margin-left: 0em;
	background-position: 0px;
	background-repeat: no-repeat;
	background-image: url('../Images/style/caution.png');
	background-size: contain;
	padding-left: 2.5em;
}

div.id_note
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	background-color: #fffdf5;
	border-left: solid 2px #d4d5d8;
	background: #fdfdfe;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #d4d5d8;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d4d5d8;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

div.id_tip
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	background: #e6f6e6;
	border-left: solid 2px #009400;
	background-color: #f1f8f1;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #009400;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f5;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

div.id_info
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	border-left: solid 2px #4cb3d4;
	background: #eef9fd;
	background-color: #f2fbff;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #4cb3d4;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f5;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

div.id_caution
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	background: #fff8e6;
	border-left: solid 2px #e6a700;
	background-color: #fffaed;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #e6a700;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f5;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

div.id_danger
{
	border-color: #EBF0FC;
	margin-bottom: 1em;
	margin-left: 2px;
	margin-top: 1em;
	page-break-inside: avoid;
	background: #ffebec;
	border-left: solid 2px #e13238;
	background-color: #fff5f5;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #e13238;
	border-right-color: #EBF0FC;
	border-top-color: #EBF0FC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f5f5f5;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
}

span.code
{
	border-bottom: solid 1px #dcdcdc;
	border-left: solid 2px #dcdcdc;
	border-right: solid 1px #dcdcdc;
	border-top: solid 1px #dcdcdc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #f5f5f5;
	color: #c72f59;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

span.trip
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 2px;
	border-bottom: solid 1px #b0d1b0;
	border-left-color: #b0d1b0;
	border-left: solid 1px #b0d1b0;
	border-right: solid 1px #b0d1b0;
	border-top: solid 1px #b0d1b0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #c8eec8;
	color: #000000;
}

span.info
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 2px;
	border-bottom: solid 1px #c2d9e1;
	border-left-color: #c2d9e1;
	border-left: solid 1px #c2d9e1;
	border-right: solid 1px #c2d9e10;
	border-top: solid 1px #c2d9e1;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #d8f2fa;
	color: #000000;
}

span.caution
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 2px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom: solid 1px #e5d7b0;
	background-color: #ffefc4;
	border-left: solid 1px #e5d7b0;
	border-left-color: #e5d7b0;
	border-right: solid 1px #e5d7b0;
	border-top: solid 1px #e5d7b0;
	border-top-color: #e5d7b0;
	color: #000000;
}

span.note
{
	font-size: 10pt;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 2px;
	color: #000000;
	border-bottom: solid 1px #dddedf;
	background-color: #f6f7f8;
	border-bottom-color: #dddedf;
	border-left: solid 1px #dddedf;
	border-left-color: #dddedf;
	border-right: solid 1px #dddedf;
	border-right-color: #dddedf;
	border-top: solid 1px #dddedf;
	border-top-color: #dddedf;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
*/
